body{
    background-color: rgb(32, 32, 32);
    color: white;
}

header{
    padding: 40px;
    width: auto;
}

nav{
    text-align: center;
}

nav a{
    padding: 10px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: rgb(255, 234, 118);
    color: rgb(32, 32, 32);
}

nav a:hover{
    color: rgb(115, 1, 182);
}

.container{
    width:740px;
    margin: 20px auto;
    overflow:auto;
    padding: 25px;
}

table{
    width: 100%;
}

table,
td{
    border: 2px solid white;
    border-collapse: collapse;
    padding: 10px;
}

h1{
    font-family: Georgia, Times, 'Times New Roman', serif;
}

h4{
    font-weight: normal;
}

#h3{
    font-weight: normal;
}

a{
    text-decoration: none;
    color: rgb(255, 234, 118);
}